
/**************************
*
*	GENERAL
*
**************************/
.camera_wrap img, 
.camera_wrap ol, .camera_wrap ul, .camera_wrap li,
.camera_wrap table, .camera_wrap tbody, .camera_wrap tfoot, .camera_wrap thead, .camera_wrap tr, .camera_wrap th, .camera_wrap td
.camera_thumbs_wrap a, .camera_thumbs_wrap img, 
.camera_thumbs_wrap ol, .camera_thumbs_wrap ul, .camera_thumbs_wrap li,
.camera_thumbs_wrap table, .camera_thumbs_wrap tbody, .camera_thumbs_wrap tfoot, .camera_thumbs_wrap thead, .camera_thumbs_wrap tr, .camera_thumbs_wrap th, .camera_thumbs_wrap td {
	background: none;
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	list-style: none;
    line-height:0;
}
.camera_wrap {
	display: none;
	float: none;
	position: relative;
	z-index: 1;
	margin: 0 !important;
}
.camera_wrap img {
	max-width: none !important;
    overflow: hidden;
}
.camera_fakehover {
	height: 100%;
	position: relative;
	width: 100%;
	/*z-index: 1;*/
}
.camera_src {
	display: none;
}
.cameraCont, .cameraContents {
	height: 100%;
	position: relative;
	width:1170px;
    text-align: left;
	/*z-index: 1;*/
    display: inline-block;
}
/*.cameraContents:after {
    position: absolute;
	left:0;
    top:0;
	width:100%;
    height:100%;
	background:red;
	content: '';
}*/
.cameraSlide {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.cameraContent {
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.camera_target {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: left;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_overlayer {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_target_content {
	bottom: 0;
	left: 0;
	overflow: visible;
	position: absolute;
    text-align: center;
	right: 0;
	top: 0;
}
.camera_target_content .camera_link {
	display: block;
	height: 100%;
	text-decoration: none;
}
.camera_loader {
	background:#efede0 url(../img/camera-loader.gif) no-repeat center;
	height: 36px;
    width: 36px;
    top: 50%;
	left: 50%;
	overflow: hidden;
	position: absolute;
	margin: -18px 0 0 -18px;
	z-index: 3;
    border-radius:36px;
}
.camera_loader img {
    border-radius:36px;
}
.camera_clear {
	display: block;
	clear: both;
}
.showIt {
	display: none;
}
.camera_clear {
	clear: both;
	display: block;
	height: 1px;
	margin: 0px;
	position: relative;
}
.slider{
	position: relative;
    z-index:0;
    width:100%;
    top: 0;
    padding:0;
    background:#fff;
    overflow:hidden;
}

.camera_pag {
    position: absolute;
    z-index: 10;
    bottom:134px;
    left: 50%;
    width: 1170px;
    padding: 0;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: -585px;
    text-align: right;
}
.camera_pag ul {
    width: 100%;
}
.camera-caption {
	position: absolute;
	top:10%;
    left:0;
    text-align:left;
	display: block;
    padding:0;
    z-index: 0;
    width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@media (min-width: 1199px) and (max-width: 1400px){
     .camera-caption {padding-left: 80px;}
} 
@media (max-width: 1299px) {
    .title, .description {
        text-shadow: 1px 1px 0px #fff, 0px 0px 2px #fff;
    }
}
.camera-caption .title {
    font:500 65px/85px 'Raleway';
    color:#1e2a32;
    margin-bottom:17px;
}
.camera-caption .title strong {
    display:block;
}
.camera-caption .description {
    font:500 14px/26px 'Raleway';
    color:#1e2a32;
    margin:0 0 13px 0;
}
.camera-caption a {
    color:#fff;
    text-align:center;
    width:80px;
    height:80px;
    border:2px solid #fff;
    display:inline-block;
    position:absolute;
    bottom:30px;
    right:30px;
    font-size:55px;
    line-height:74px;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.camera-caption a:hover {
    background:#272d33;
    border-color:#272d33;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.camera_prev {
    position: absolute;
    top:50%;
    left:5%;
    z-index: 1;

}
.camera_next {
    position: absolute;
    top:50%;
    right:5%;
    float:left;
     
}
.camera_prev span, .camera_next span{
	display: block;
	width:18px;
	height:31px;
	cursor: pointer;
	z-index: 1000;
    float: right;
}
@media (max-width: 1499px) {
    .camera_prev {left: 1%;}
    .camera_next {right: 1%;}
}
.camera_prev span{
	background:url(../img/prev.png) 0 top no-repeat;
}
.camera_prev span:hover{
    background:url(../img/prev.png) 0 bottom no-repeat;
}
.camera_next span{
	background:url(../img/next.png) 0 top no-repeat;
}
.camera_next span:hover{
    background:url(../img/next.png) 0 bottom no-repeat;
}
.camera_pag_ul {
    display: inline-block;
}
.camera_pag_ul li{
	text-indent: -100px;
    display:inline-block;
    margin:0 0 0 12px;
}
.camera_pag_ul li:first-child {
    margin-left:0;
}
.camera_pag_ul li>span{
	cursor: pointer;
	display: block;
	width:21px;
	height:21px;
    border-radius:100%;
    background:none;
	text-indent: -100px;
	overflow: hidden;
    background:transparent;
    border:2px solid #fff;
    border-radius:100%;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.camera_pag_ul li>span>span{
    display:none;
}
.camera_pag_ul li.cameracurrent span, .camera_pag_ul li:hover span{
    background:#fff;
    -webkit-transition: all 0.25s ease; 
    transition: all 0.25s ease;
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 1220px) {
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1219px){
.cameraCont, .cameraContents {
    width: 100%;
}
.camera-caption {
    width:100%;
    text-align:center;
    padding:0 15px;
}
.camera-caption .title {
    font-size: 30px;
    line-height: 1em;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 768px) and (max-width: 991px) {
.cameraCont, .cameraContents {
    width: 100%;
}
.camera-caption {
    width:100%;
    text-align:center;
    padding:0 15px;
}
.camera-caption .title {
    font-size: 30px;
    line-height: 1em;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 767px) {
.cameraCont, .cameraContents {
    width: 100%;
}
.camera-caption {
    width:100%;
    text-align:center;
    padding:0 15px;
    top:25%;
    padding:0 15px;
}
.camera-caption br {
    display: none;
}
.camera-caption .title {
    font-size: 30px;
    line-height: 1em;
}
.camera_wrap {
    height:400px !important;
}
.camera_next {
      top: 10px;
      right: 20px;
}
.camera_prev {
    top: 10px;
    right: 50px;
}
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 626px) {
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 560px) {
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 480px) {
}
/*---------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 320px) {
}
